@import url("https://fonts.googleapis.com/css2?family=Anybody:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap");

body {
  font-family: "Anybody", sans-serif;
  text-align: center;
  background-color: #f2f2f2;
  margin: auto;
}

li {
  text-decoration: none;
}

.thumbnail {
  background-color: white;
  margin: 20px auto;
}

.thumbnail, .thumbnail img {
  width: 90%;
}

.thumbnail:hover {
  cursor: pointer;
}

h2 {
  font-size: 25px;
  margin: 10px auto;
  padding: 15px;
  max-width: 100%;
}

figure {
  margin-left: 300px;
  filter: drop-shadow(0 0 10px #333333);
}

.last {
  margin: 20px auto auto 30px;
}

figure h2  {
  color: white;
  margin: auto;
  max-width: 572px;
  margin-top: -5px;
  background-color: black;
}

.thumbnail h2 {
  font-size: 35px;
  margin-top: -75px;
}

.container p {
  margin-top: -5px;
  grid-column: 2;
  text-align: center;
  font-size: 18px;
  line-height: 25px;
}

.footer_info p {
  font-size: 20px;
  color: white;
  margin: 15px auto;
  font-family: "Anybody", sans-serif;
  text-align: center;
}

.thumbnail p {
  font-size: 20px;
}

.thumbnail p:first-of-type {
  margin-top: -15px;
}

.thumbnail p:last-of-type {
  margin-top: -15px;
}

table {
  grid-column-start: 2;
  display: flex;
  margin: -300px auto auto 150px;
  scale: 1.75;
  text-align: center;
  padding: 10px 0;
}

th, td {
  background-color: white;
  border: 1px solid black;
  padding-left: 20px;
  padding-right:20px;
}

th {
  background-color: navy;
  color: white;
}

.contents2 {
  text-align: center;
  background: #ecdec9;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 100%;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 15px;
}

.contents2 img {
  max-width: 400px;
}

.container {
  text-align: center;
  color: black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 15px auto;
  max-width: 100%;
  margin-top: 10px;
  padding: 15px;
  background: radial-gradient(#99e5ff, #f0f8fe);
}

.container img {
  width: 95%;
  margin: auto;
}

.box {
  display: grid;
  margin:auto;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 20px;
}

.box img {
  width: 600px;
}

header h1 {
  font-family: "Kanit", sans-serif;
  font-weight: 100;
  margin-top: -0.5em;
  margin-bottom: -0.25em;
  font-size: 50px;
  color: tan;
}

.box h1 {
  grid-column-start: 2;
  font-size: 50px;
  margin: 150px auto auto 250px;
}

.container h2 {
  grid-column: 2;
  column-span: all;
  text-align: center;
  font-size: 25px;
}

.container_p {
  width: 150%;
  margin-left: -150px;
}

hr {
  line-height: 3px;
  border-bottom: 0px;
  width: 98%;
}

h3 {
  text-align: center;
}

body hr {
  width: 30%;
  margin-top: -0.75em;
  margin-bottom: 0.75em;
}

.container hr {
  grid-column: 2;
  width: 45%;
  column-span: all;
}

.main-logo {
  filter: drop-shadow(0 0 5px #333333);
}

.main-logo:hover {
  filter: drop-shadow(0 0 10px #333333);
}

.banner_img {
  width: 100%;
}

header h3 {
  color: lightgray;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 0.75rem;
  text-decoration: none;
  font-size: 0.95rem;
  background: linear-gradient(90deg, transparent, #ca7df9, transparent) bottom /
    var(--d, 0) 10px no-repeat;
  transition: 0.5s;
}

.navigation li {
  display: none;
}

.responsive li {
  display: block;
}

.navigation li:first-child {
  display: block;
}

.contents {
  text-align: center;
  background: #ecdec9;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 100%;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 15px;
}

.contents img {
  max-width: 90%;
  margin: 20px auto;
  border-radius: 25px;
  box-shadow: 0px 0px 20px #333333;
  cursor: pointer;
}

.navigation a {
  display: block;
  padding: 0.75rem;
  text-align: center;
  text-decoration: none;
  font-family: "Anybody", sans-serif;
  font-weight: 100;
  font-size: 20px;
}

.navigation a:hover {
  cursor: pointer;
  --d: 75%;
  background-color: #700070;
  border-radius: 25px;
}

#contact_info a {
  text-decoration: none;
}

#contact_info b {
  color: crimson;
}

#contact_info a:hover {
  color: red;
}

#contact_info hr {
  width: 80%;
}

header,
main,
footer {
  margin: auto;
}

header {
  max-width: 100%;
  background-color: brown;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

nav {
  width: 99%;
  background-color: navy;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  margin: auto;
}

.navigation {
  list-style: none;
  font-family: "Boogaloo", sans-serif;
  font-weight: 50;
  padding: 0;
}

nav ul {
  list-style-type: none;
  overflow: hidden;
}

footer {
  width: 100%;
  text-align: center;
  padding-bottom: 0.25em;
  background-color: navy;
  font-family: "Anybody", sans-serif;
}

#contact_resources {
  background-color: skyblue;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2em;
  justify-items: center;
  align-items: center;
  text-align: left;
}

#contact_info {
  text-align: center;
}

#facebook {
  border-radius: 35px;
  margin-bottom: 10px;
}

#facebook:hover {
  filter: drop-shadow(0 0 5px navy);
}

iframe {
  padding: 15px;
}

.footer_info {
  width: 100%;
  height: 25px;
}

@media only screen and (min-width: 1920px) {
  .navigation {
    display: flex;
  }

  nav ul li {
    flex: 1 1 auto;
  }

  .navigation li {
    display: block;
  }

  nav a {
    font-size: 1rem;
    display: block;
    padding: 0.75rem;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: 700;
  }

  .navigation li:first-child {
    display: none;
  }

  h1 {
    font-size: 1.5rem;
  }

  nav ul {
    display: flex;
  }
  
  figure {
    margin-left: 300px;
  }
  
}

@media only screen and (max-width: 960px) {
  
  .contents, .contents2 {
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
  }
  
  figure {
    max-width: 85%;
  }
  
  .box img {
    max-width: 300px;
  }
  
  .contents img, .thumbnail, .contents2 img {
    max-width: 85%;
    overflow: hidden;
  }
  
  .box h1 {
    font-size: 30px;
    margin: 90px auto auto 150px;
  }
  
  table {
    scale: 1;
    margin: -200px auto;
  }
}

@media (min-width: 950px) and (max-width: 1280px) {
  
  .box img, figure {
    max-width: 450px;
  }
  
  figure:first-of-type, figure:nth-of-type(2) {
    margin-left: 100px;
  }
  
  .box h1 {
    font-size: 40px;
    margin: 100px auto auto 180px;
  }
  
  table {
    scale: 1.40;
    margin: -260px auto auto 75px;
  }
}

@media only screen and (max-width: 480px) {
  .container {
    display: block;
  }

  .container img {
    width: 75%;
    margin: auto;
    height: 75%;
  }

  .container p {
    width: 85%;
    margin: auto;
  }
  
  .box {
    grid-template-columns: 1fr;
  }
  
  table, .box h1 {
    grid-column: 1;
  }
  
  table {
    scale: 1.15;
    margin: -10px auto 10px auto;
    padding: 10px;
  }
  
  .box h1 {
    margin: auto auto 10px auto;
  }
  
  .thumbnail, figure {
    margin: 10px auto;
  }
  
  .box img, figure {
    max-width: 400px;
  }
  
  .last {
    margin: auto;
  }

  header,
  footer {
    overflow: hidden;
  }

  .main-logo {
    max-width: 75%;
  }

  .contents {
    max-width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }
  
  .contents2 {
    grid-template-columns: 1fr;
  }

  .contents h2 {
    margin-top: 15px;
  }

  .contents p {
    margin: 10px auto;
  }

  .contents img {
    margin: 10px auto;
    width: 300px;
    height: 200px;
  }

  iframe {
    max-width: 150px;
    max-height: 150px;
  }

  #contact_info {
    margin-left: -30px;
    font-size: 10px;
  }

  #contact_info h2 {
    font-size: 15px;
  }

  #contact_info img {
    max-width: 30%;
    max-height: 30%;
  }

  .footer_info p,
  .footer_info2 p {
    margin-top: 15px;
    font-size: 12px;
  }
}
